@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SiteManagement.Infrastructure.Persistence.Constants
@using Microsoft.AspNetCore.Authorization
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IAuthorizationService AuthorizationService
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - SiteMuhasebe </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    @if (SignInManager.IsSignedIn(User))
    {
        <nav id="sidebar" class="active">
            <ul class="list-unstyled components mb-5">
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        <span class="fa fa-sticky-note"></span>Ana Sayfa
                    </a>
                </li>
                <li>
                    <a asp-controller="Due" asp-action="Index">
                        <span class="fa fa-sticky-note"></span>Aidatlar
                    </a>
                </li>
                <li>
                    <a asp-controller="Kidem" asp-action="Index">
                        <span class="fa fa-sticky-note"></span>Kıdem
                    </a>
                </li>
                <li>
                    <a asp-controller="Sufa" asp-action="Index">
                        <span class="fa fa-sticky-note"></span>Şufa
                    </a>
                </li>
                <li>
                    <a asp-controller="Report" asp-action="Index">
                        <span class="fa fa-sticky-note"></span>Raporlar
                    </a>
                </li>
                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.LeaseHolder.Create)).Result.Succeeded)
                {
                    <li>
                        <a asp-controller="User" asp-action="Index">
                            <span class="fa fa-sticky-note"></span>Üye Listesi
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Role" asp-action="Index">
                            <span class="fa fa-sticky-note"></span>Roller
                        </a>
                    </li>
                    <li>
                        <a asp-controller="File" asp-action="Index">
                            <span class="fa fa-sticky-note"></span>Dosya Yukle
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <partial name="_LoginPartial"/>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
</div>


<div id="dueTransactionModal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ödeme Detayları</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <br/>
                    <div style="width:90%; margin:0 auto;">
                        <table id="DueTransactionDatatable" class="table table-striped table-bordered dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tarih</th>
                                <th>Detay</th>
                                <th>Borc</th>
                                <th>Alacak</th>
                                <th>Bakiye Borc</th>
                                <th>Bakiye Alacak</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="kidemTransactionModal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ödeme Detayları</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <br/>
                    <div style="width:90%; margin:0 auto;">
                        <table id="kidemTransactionDatatable" class="table table-striped table-bordered dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tarih</th>
                                <th>Detay</th>
                                <th>Borc</th>
                                <th>Alacak</th>
                                <th>Bakiye Borc</th>
                                <th>Bakiye Alacak</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="sufaTransactionModal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ödeme Detayları</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <br/>
                    <div style="width:90%; margin:0 auto;">
                        <table id="SufaTransactionDatatable" class="table table-striped table-bordered dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tarih</th>
                                <th>Detay</th>
                                <th>Borc</th>
                                <th>Alacak</th>
                                <th>Bakiye Borc</th>
                                <th>Bakiye Alacak</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.usebootstrap.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="~/js/main.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>