@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SiteManagement.Domain.Entities.Enums
@model UploadRegisterViewModel

@{
    ViewBag.Title = "Dosya yukleme";
    Layout = "_Layout";
}

@await Html.PartialAsync("_ApplyStatus")

<h4>Dosya yükleme</h4>
<hr/>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" multiple required/>
    <input type="text" autocomplete="off" placeholder="Enter File Description" name="description"/>
    <select asp-for="RegisterName" asp-items="Html.GetEnumSelectList<RegisterName>()">
        <option selected="selected" value="">Defter ismi</option>
    </select>
    <select asp-for="RegisterType" asp-items="Html.GetEnumSelectList<RegisterType>()">
        <option selected="selected" value="">Defter Tipi</option>
    </select>
    <button class="btn btn-success pull-right"  type="submit" asp-controller="File" asp-action="UploadToDatabase">Yükle</button>
</form>
<hr/>


